node_modules/
.next/
out/
build/
dist/
.env*
!.env.example
!.env.local.example
public/models/
!public/models/
!public/models/*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

.codex/
.cursor/